# IBM i connection
VITE_IBMI_HOST=
VITE_IBMI_USER=
VITE_IBMI_PASSWORD=
VITE_IBMI_SSH_PORT=22
# SSH Key authentication (optional - leave VITE_IBMI_PASSWORD empty if using SSH key)
#VITE_IBMI_PRIVATE_KEY_PATH=~/.ssh/id_rsa
#VITE_IBMI_PASSPHRASE=
# SSH Agent authentication (optional - leave VITE_IBMI_PASSWORD and VITE_IBMI_PRIVATE_KEY_PATH empty if using SSH agent)
#VITE_IBMI_USE_SSH_AGENT=true

# IBM i connection settings
VITE_IBMI_TEMP_LIB=ILEDITOR
#VITE_IBMI_IASP=

# Test settings
VITE_CONNECTION_TIMEOUT=25000